<form action="/result" method="post">
<h1>Triangle Checker</h1>
  <div class="form-group">
    <label for="s1">Side 1: </label>
    <input id="s1" name="s1" class="form-control" type="text">
    <label for="s2">Side 2: </label>
    <input id="s2" name="s2" class="form-control" type="text">
    <label for="s3">Side 3: </label>
    <input id="s3" name="s3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
